@import '../../variables';

.messageList {
	width: 100%;
	min-height: 50vh;
	max-height: 50vh;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
}

@media (min-width: $min-width-laptop) {
	.messageList {
		width: 50%;
	}
}